{% extends "base.html" %}
{% block content %}
  <h3>Stock</h3>
  <table class="table">
    <thead>
      <tr><th>Produit</th><th>Variation</th></tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>
            {{ stock_variations|dict_get:product.id|floatformat:1 }} %
            {% if variation_icons|dict_get:product.id == 'up' %}
              <i class="bi bi-arrow-up text-success"></i>
            {% elif variation_icons|dict_get:product.id == 'down' %}
              <i class="bi bi-arrow-down text-danger"></i>
            {% else %}
              <i class="bi bi-dash text-secondary"></i>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
