{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Liste de tous les patients</h2>
    <a href="{% url 'patients:patient_create' %}" class="btn btn-primary">
      ➕ Nouveau patient
    </a>
  </div>

  <form method="get" class="mb-3">
    <input type="text" name="q" value="{{ q }}" placeholder="Rechercher..." class="form-control" />
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
      <tr>
        <td>{{ patient.last_name }}</td>
        <td>{{ patient.first_name }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.phone }}</td>
        <td>
          <a href="{% url 'patients:patient_update' patient.pk %}" class="btn btn-sm btn-warning">Modifier</a>
          <form action="{% url 'patients:patient_delete' patient.pk %}" method="POST" style="display:inline;">
            {% if user.is_admin %}
              {% csrf_token %}
                <button type="submit"
                  class="btn btn-sm btn-danger"
                  onclick="return confirm('⚠️ Confirmer la suppression de ce patient ?');">
                  Supprimer
                </button>
            {% endif %}
          </form>
          {% if not patient.actif %}
            <form method="post" action="{% url 'patients:patient_restore' patient.pk %}">
              {% csrf_token %}
              <button class="btn btn-success btn-sm">Restaurer</button>
            </form>
          {% endif %}
        </td>
        
            
        
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">Aucun patient trouvé.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
    <nav aria-label="Pagination">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}">Précédent</a></li>
        {% endif %}
        <li class="page-item disabled"><span class="page-link">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</span></li>
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}">Suivant</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
{% endblock %}
