{% extends "base.html" %}
{% block content %}
<h1>{{ patient.nom }} {{ patient.prenom }}</h1>

<a href="{% url 'prescriptions:prescription_create' patient.pk %}" class="btn btn-success">
  Nouvelle ordonnance 
</a>

<div class="container mt-4">
  <h2>Détails du patient</h2>
  <ul class="list-group">
    <li class="list-group-item"><strong>Nom :</strong> {{ patient.first_name }} {{ patient.last_name }}</li>
    <li class="list-group-item"><strong>Date de naissance :</strong> {{ patient.date_of_birth|date:"d/m/Y" }}</li>
    <li class="list-group-item"><strong>Téléphone :</strong> {{ patient.phone }}</li>
    <li class="list-group-item"><strong>Email :</strong> {{ patient.email|default:"—" }}</li>
    <li class="list-group-item"><strong>Adresse :</strong> {{ patient.address|default:"—" }}</li>
    <li class="list-group-item"><strong>Historique médical :</strong> {{ patient.medical_history|default:"—" }}</li>
  </ul>
  <div class="mt-3">
    <a href="{% url 'prescriptions:prescription_list'  %}" class="btn btn-info">Voir ses ordonnances</a>
    <a href="{% url 'patients:patient_update' patient.pk %}" class="btn btn-warning">Modifier</a>
    <a class="btn btn-outline-dark" href="{% url 'billing:billing_list' %}">facture</a>
    <a href="{% url 'patients:patient_delete' patient.pk %}" class="btn btn-danger">Supprimer</a>
    <a href="{% url 'patients:patient_list' %}" class="btn btn-secondary">Retour</a>
  </div>
</div>
{% endblock %}
